@import "../variables";

.advantages-grey__item {
  width: 320px;
  height: 170px;
  color: $dark-color;
  position: relative;
}
.advantages-grey__reason {
  padding-top: 25px;
  width: 200px;
  text-transform: uppercase;
  margin: 0 auto;
}
.advantages-grey {
  background-color: #eeeeee;
}
.advantages-grey__text {
  width: 280px;
  margin: 0 auto;
  text-transform: uppercase;
}

//line at the bottom of two grey boxes
.advantages-grey__item:nth-child(2)::after,
.advantages-grey__item:nth-child(1)::after {
  content: "";
  width: 280px;
  height: 1px;
  position: absolute;
  top: 178px;
  left: 20px;
  background-color: #d6d6d6;
}

@media (min-width: $tablet-width) {
  .advantages-grey {
    display: flex;
    width: 768px;
    margin-top: 31px;
  }
  .advantages-grey__item {
    width: 256px;
    height: 256px;
  }
  .advantages-grey__text {
    width: 160px;
    margin: 0 auto;
  }
  .advantages-grey__reason {
    width: 140px;
    padding-top: 45px;
  }
  .advantages-grey__item:nth-child(2)::after,
  .advantages-grey__item:nth-child(1)::after {
    content: none;
  }
}

@media (min-width: $desktop-width) {
  .advantages-grey {
    margin: 0 auto;
    width: 1200px;
    margin-top: -4px;
    padding-top: 3px;
  }
  .advantages-grey__item {
    width: 400px;
    height: 256px;
  }
  .advantages-grey__reason {
    width: 110px;
    margin: 0 auto;
  }
  .advantages-grey__text {
    width: 300px;
  }
}
