@import "../variables";

.advantages-section {
  margin-top: 30px;
}

.advantages-section__title {
  font-weight: bold;
  line-height: 1.4;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
  width: 300px;
  margin: 0 auto;
}
.advantages-section__text {
  line-height: 1.8;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  padding-top: 15px;
}

@media (min-width: $tablet-width) {
  .advantages-section__title {
    font-size: 21px;
    line-height: 1.2;
    margin: 0 auto;
    width: 520px;
    padding-top: 46px;
  }
  .advantages-section__text {
    padding-top: 17px;
  }
}
@media (min-width: $tablet-width) {
  .advantages-section__title {
    padding-top: 45px;
  }
  .advantages-section__text {
    padding-top: 11px;
  }
}
@media (min-width: $desktop-width) {
  .advantages-section__title {
    padding-top: 15px;
  }
}