@import "../variables";

.benefits-list {
  margin-top: 292px;

  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: $tablet-width) {
  .benefits-list {
    flex-direction: row;

    margin-top: 200px;
  }
}
@media (min-width: $desktop-width) {
  .benefits-list {
    margin-top: 173px;
  }
}

.benefits-list__item {
  color: $dark-color;
  text-transform: uppercase;
  text-align: initial;

  width: 190px;

  margin: 0 auto;

  position: relative;
}
@media (min-width: $tablet-width) {
  .benefits-list__item {
    width: 240px;
  }
}
@media (min-width: $desktop-width) {
  .benefits-list {
    margin-top: 173px;
  }
}
.benefits-list__item:nth-child(2) {
  margin-top: 0;
}
.benefits-list__item:nth-child(3) {
  margin-top: 0;
}

//change order of items
@media (min-width: $tablet-width) {
  .benefits-list__item:nth-child(1) {
    order: 1;
  }
  .benefits-list__item:nth-child(2) {
    order: 3;
  }
  .benefits-list__item:nth-child(3) {
    order: 2;
  }
}
@media (min-width: $desktop-width) {
  .benefits-list__item {
    text-align: center;
  }
}
//text
.benefits-list__reason {
  font-size: 18px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  color: $black-color;
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.5;
  color: $dark-color;
  width: 220px;
}
@media (min-width: $tablet-width) {
  .benefits-list__reason {
    font-size: 21px;
    line-height: 1.2;
    text-align: center;
  }
  .benefits-list__text {
    width: 280px;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    padding-top: 15px;
  }
}
@media (min-width: $desktop-width) {
  .benefits-list__text {
    width: 280px;
  }
}
//pictures around text
.benefits-list__item:nth-child(1n):after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}
.benefits-list__item:nth-child(1):after {
  top: -5px;
  left: -42px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-house.svg");
}
.benefits-list__item:nth-child(2):after {
  top: -14px;
  left: -42px;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
}

.benefits-list__item:nth-child(3):after {
  top: -6px;
  left: -47px;
  width: 40px;
  height: 35px;
  background-image: url("../img/icon-burger.svg");
}

@media (min-width: $tablet-width) {
  .benefits-list__item:nth-child(1):after {
    top: -92px;
    left: 86px;
    width: 75px;
    height: 72px;
  }
  .benefits-list__item:nth-child(2):after {
    top: -95px;
    left: 86px;
    width: 64px;
    height: 75px;
  }

  .benefits-list__item:nth-child(3):after {
    top: -89px;
    left: 81px;
    width: 77px;
    height: 68px;
  }
}

@media (min-width: $desktop-width) {
  .benefits-list__item:nth-child(1)::after {
    top: -87px;
    left: 85px;
  }
  .benefits-list__item:nth-child(2):after {
    top: -90px;
    left: 88px;
  }

  .benefits-list__item:nth-child(3):after {
    top: -83px;
    left: 83px;
  }
}
// .benefits-list__item:nth-child(1n + 2) {
//   margin-top: -20px;
// }
