@import "../variables";

.controls {
  margin-top: -50px;
}
@media (min-width: $tablet-width) {
  .controls {
    margin-top: -93px;
  }
}
.controls__range {
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  position: relative;
}
.controls__range::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
.controls__range::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 50px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: $white-color;
}
@media (min-width: $tablet-width) {
  .controls__range {
    width: 648px;
    height: 93px;
  }
  .controls__range::before {
    top: 45px;
    left: 93px;
    width: 389px;
  }
  .controls__range::after {
    top: 42px;
    left: 206px;
  }
}
@media (min-width: $desktop-width) {
  .controls__range {
    width: 800px;
  }
  .controls__range::before {
    top: 45px;
    left: 93px;
    width: 540px;
  }
  .controls__range::after {
    top: 42px;
    left: 206px;
  }
}
//buttons
.controls__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  height: 66px;
  background-color: $bg-color;
  margin: 0 auto;
}
.control-button {
  border: none;
  background-color: transparent;
}
@media (min-width: $tablet-width) {
  .controls__buttons {
    margin-top: -92px;
    width: 648px;
    height: 93px;
    background-color: transparent;
    justify-content: space-between;
  }
  .control-button {
    border: none;

    //so buttons will display on top
    position: relative;
    z-index: 2;
  }
  .right-controls {
    margin-right: 41px;
  }
  .control-button--repeat {
    margin-left: 35px;
  }
}
@media (min-width: $desktop-width) {
  .controls__buttons {
    margin-top: -92px;
    width: 800px;
  }
  .control-button--subs {
    margin-right: 20px;
  }
}

//svg
.repeat-svg,
.subs-svg,
.full-svg {
  fill: #5c6870;
}

.control-button:hover .repeat-svg,
.control-button:hover .subs-svg,
.control-button:hover .full-svg {
  fill: $dark-color;
}
.control-button:active .repeat-svg,
.control-button:active .subs-svg,
.control-button:active .full-svg {
  fill: rgba(51, 51, 51, 0.3);
}
@media (min-width: $tablet-width) {
  .repeat-svg,
  .subs-svg,
  .full-svg {
    fill: $white-color;
  }
  .control-button:hover .repeat-svg,
  .control-button:hover .subs-svg,
  .control-button:hover .full-svg {
    fill: rgba(255, 255, 255, 0.6);
  }
  .control-button:active .repeat-svg,
  .control-button:active .subs-svg,
  .control-button:active .full-svg {
    fill: rgba(255, 255, 255, 0.3);
  }
}
