@import "../variables";

//contact info
.contact-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

// .contact-list::before {
//   content: "";
//   position: absolute;
//   top: 38px;
//   left: 231px;

//   width: 58px;
//   height: 58px;

//   background-color: #e6e6e6;

//   display: block;
//   background-image: url("../img/icon-phone.svg");
//   background-repeat: no-repeat;
//   background-size: 18px 18px;
//   background-position: center;
// }
// .contact-list::after {
//   content: "";
//   position: absolute;
//   top: 134px;
//   left: 231px;

//   width: 58px;
//   height: 58px;

//   background-color: #e6e6e6;

//   background-image: url("../img/icon-mail.svg");
//   background-repeat: no-repeat;
//   background-size: 16px 12px;
//   background-position: center;
// }
.contact-list__item {
  position: relative;
}
.contact-list__item::before{
  content: "";
  position: absolute;
  top: 38px;
  left: 231px;

  width: 58px;
  height: 58px;

  background-color: #e6e6e6;

  display: block;
}
.contact-list__item:nth-child(1)::before {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}
.contact-list__item:nth-child(2)::before {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-size: 16px 12px;
  background-position: center;
}
.contact-list__email, .contact-list__number {
  width: 221px;
  margin-top: 14px;
}
.contact-list__label {
  margin-left: 40px;
}

@media (min-width: $tablet-width) {

  .contact-list__email, .contact-list__number {
    width: 541px;
  }
  .contact-list__item:nth-child(1)::before,
  .contact-list__item:nth-child(2)::before {
    left: 551px;
  }
  .contact-list__item:nth-child(2)::before {
    top: 172px
  }
  .contact-list__item:nth-child(1)::before {
    top: 57px
  }
  .contact-list__label {
    display: inline-block;
    margin-top: 20px;
  }
}
@media (min-width: $desktop-width) { 
  .no-desktop {
    display: none;
  }
  .contact-list__email, .contact-list__number {
    width: 257px;
  }
  .contact-list {
    flex-direction: row;
    align-items: center;
  }
  .contact-list__item:nth-child(1)::before {
    top: 14px;
    left: 381px;
  }
  .contact-list__item:nth-child(2)::before {
    left: 466px;
    top: 14px;
  }

  .contact-list__item {
    width: 470px;
  }
}
