@import "../variables";


//test
.container {
  // background-image: url("../sedona-index-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: $white-color;
}

@media (min-width: $tablet-width) {
  .container {
    // background-image: url("../sedona-index-tablet.jpg");
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    // background-image: url("../sedona-index-desktop.jpg");
    width: $desktop-width;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  }
}