@import "../variables";

//text input number
/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Remove controls from Safari and Chrome */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

//contact info
.contact-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-list__item {
  position: relative;
}
.contact-list__item::before{
  content: "";
  position: absolute;
  top: 38px;
  left: 231px;

  width: 58px;
  height: 58px;

  background-color: #e6e6e6;

  display: block;
}
.contact-list__item:nth-child(1)::before {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}
.contact-list__item:nth-child(2)::before {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-size: 16px 12px;
  background-position: center;
}
.contact-list__email, .contact-list__number {
  width: 221px;
  margin-top: 14px;
}

.contact-list__label {
  margin-left: 40px;
}

@media (min-width: $tablet-width) {

  .contact-list__email, .contact-list__number {
    width: 541px;
  }
  .contact-list__item:nth-child(1)::before,
  .contact-list__item:nth-child(2)::before {
    left: 551px;
    top: 57px
  }

  .contact-list__label {
    display: inline-block;
    margin-top: 20px;
  }
}
@media (min-width: $desktop-width) { 
  .no-desktop {
    display: none;
  }
  .contact-list__email, .contact-list__number {
    width: 257px;
  }
  .contact-list {
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
  .contact-list__item:nth-child(1)::before {
    top: 14px;
    left: 341px;
  }
  .contact-list__item:nth-child(2)::before {
    left: 426px;
    top: 14px;
  }

  .contact-list__item {
    width: 470px;
  }

  .contact-list__label {
    margin-left: 0;
  }
}
