@import "../variables";

.form-main {
  display: flex;
  width: $mobile-width;
  flex-direction: column;
  margin: 0 auto;
}
@media (min-width: $tablet-width) {
  .form-main {
    width: $tablet-width;
    flex-wrap: wrap;
    flex-direction: row;
    width: 648px;
  }
}
@media (min-width: $desktop-width) {
  .form-main {
    width: 960px;
    justify-content: space-between;
  }
}

//common styles
.input-text {
  border: none;
  height: 58px;
  background-color: $bg-color;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 18px;
  color: $black-color;
  padding-left: 20px;
  font-weight: bold;
}
.input-text:hover {
  background-color: $disabled-color;
}
.input-text:active {
  background-color: $white-color;
  border: 4px solid $bg-color;
}
::placeholder {
  color: $black-color;
}

.form-main__field {
  border: none;
  margin-top: 50px;
  padding: 0;
}
.form-main__name {
  margin-top: 30px;
}
.form-main__title {
  font-size: 18px;
  line-height: 1.4;
  color: $black-color;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  margin: 0 auto;
}
.form-main__title--margin {
  margin-bottom: 20px;
}
@media (min-width: $tablet-width) {
  .form-main__field {
    margin-top: 30px;
  }
  .form-main__title--visited {
    width: 290px;
  }
  .form-main__sights {
    margin-top: 50px;
  }
}

//labels
.form-main__label,
.contact-list__label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.4;
  color: $dark-color;
}
.form-main__label--bold {
  font-weight: bold;
  font-size: 18px;
  text-transform: initial;
  color: $black-color;
}

@media (min-width: $tablet-width) {
  .form-main__name {
    order: 0;
    width: 290px;
  }
  .form-main__score {
    order: -1;
    width: 290px;
    margin-right: 10px;
  }
}
@media (min-width: $desktop-width) {
  .form-main__name {
    width: 400px;
  }
  .form-main__score {
    width: 400px;
  }
}
//contact info
.form-main__contact-info {
  width: 100%;
}
//checkboxes
.form-main__sights {
  margin-top: 0;
}
@media (min-width: $tablet-width) {
  .form-main__sights {
    margin: 50px auto 0;
  }
  .form-main__sights,
  .form-main__emotions,
  .form-main__contact-info {
    width: 648px;
  }
}
@media (min-width: $tablet-width) {
  .form-main__sights,
  .form-main__emotions,
  .form-main__contact-info {
    width: 960px;
  }
}
//text-area
.form-main__emotions {
  margin: 0 auto;
}
.form-main__textarea {
  margin-top: 20px;
  width: 279px;
  height: 160px;
  background-color: $bg-color;
  resize: none;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
.form-main__textarea::placeholder {
  color: $black-color;
}
@media (min-width: $tablet-width) {
  .form-main__textarea {
    width: 648px;
  }
}
@media (min-width: $desktop-width) {
  .form-main__textarea {
    width: 960px;
  }
}
//text that does not appear on mobile
.important--tablet {
  display: none;
}
@media (min-width: $tablet-width) {
  .important--tablet {
    display: inline-block;
    font-size: 14px;
    color: $dark-color;
    line-height: 1.4;
    text-transform: uppercase;
  }
}

//button

@media (min-width: $tablet-width) {
  .form-main__send {
    width: 648px;
  }
  .button-send {
    width: 324px;
  }
  .form-send--container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: $desktop-width) {
  .form-main__send {
    width: 960px;
  }
}

//lines between widgets
.form-main__field {
  position: relative;
}
.form-main__field::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: $disabled-color;
  top: -15px;
  left: 0;
}
//firefox only since it does not position items correctly
@-moz-document url-prefix() {
  .form-main__field::before {
    top: -40px;
  }
  .form-main__field:not(:nth-child(1))::before {
    top: -65px;
  }
  .form-main__field:nth-child(4)::before {
    top: -85px;
  }
}
.form-main__send::before {
  content: none;
}
@media (min-width: $tablet-width) {
  .form-main__field::before {
    content: none;
  }
  .form-main__name::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 260px;
    background-color: $disabled-color;
    top: 6px;
    left: 0;
  }
  .form-main__contact-info::before,
  .form-main__sights::before,
  .form-main__emotions::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: $disabled-color;
    top: 9px;
    left: 13px;
  }
  .form-main__contact-info::after,
  .form-main__sights::after,
  .form-main__emotions::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: $disabled-color;
    top: 9px;
    left: 470px;
  }
  .form-main__sights::before,
  .form-main__sights::after {
    top: 19px;
  }
  //firefox only
  @-moz-document url-prefix() {
    .form-main__field:nth-child(2)::before,
    .form-main__field:nth-child(2)::after {
      top: -32px;
    }
    .form-main__field:nth-child(4)::before,
    .form-main__field:nth-child(4)::after {
      top: -45px;
    }
    .form-main__field:nth-child(5)::before,
    .form-main__field:nth-child(5)::after {
      top: -35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-main__name::before {
    height: 280px;
    left: -70px;
  }
  .form-main__contact-info::before,
  .form-main__sights::before,
  .form-main__emotions::before {
    width: 300px;
    left: 3px;
  }
  .form-main__contact-info::after,
  .form-main__sights::after,
  .form-main__emotions::after {
    width: 300px;
    left: 650px;
  }
}
