@import "../variables";



//common styles
.input-text {
  border: none;
  height: 58px;
  background-color: $bg-color;
  margin-left: 10px;
  margin-top: 20px;
}


.form-main__field {
  border: none;
}
.form-main__title {
  font-size: 18px;
  line-height: 1.4;
  color: $black-color;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}


//labels
.form-main__label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.4;
  color: $dark-color;
}


//name info
.form-main__name--container {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  align-items: center;
}

.input-text--name {
  width: 230px;
}
.input-text--last-name {
  width: 192px;
}
.input-text--father-name {
  width: 194px;
}

//contact info
.form-main__field--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.form-main__field--container::before {
  content: "";
  position: absolute;
  top: 42px;
  left: 231px;

  width: 58px;
  height: 58px;

  background-color: #e6e6e6;

  display: block;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}
.form-main__field--container::after {
  content: "";
  position: absolute;
  top: 143px;
  left: 231px;

  width: 58px;
  height: 58px;

  background-color: #e6e6e6;

  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-size: 16px 12px;
  background-position: center;
}
.input-text--number, .input-text--email {
  width: 220px;
}

//radio buttons
.form-main__score--container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 20px;
}
.form-main__radio {
  display: none;
}
.form-main__field{
  margin-top: 35px;
}
.form-main__label--bold {
  font-weight: bold;
  font-size: 18px;
  text-transform: initial;

} 
.form-main__label--radio {
  position: relative;
  margin-bottom: 60px;
}
.form-main__label--radio::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -80px;

  width: 60px;
  height: 55px;
  background-color: $bg-color;
  border-radius: 50%;
}
.form-main__radio:checked + .form-main__label--radio::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -61px;

  width: 23px;
  height: 23px;
  background-color: $dark-color;
  border-radius: 50%;
  z-index: 2;
}
//checkboxes
.form-main__sights {
  margin-top: 0;
}
