@import "../variables";

.hotel {
  text-align: center;
  margin-top: 60px;
}
@media (min-width: $tablet-width) {
  .hotel {
    margin-top: 120px;
  }
}

//question
.hotel__question {
  text-transform: uppercase;

  margin-bottom: 20px;
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .hotel__question {
    font-size: 30px;
  }
}

//text
.hotel__text {
  color: $dark-color;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.7;

  width: 290px;
  margin: 0 auto;
}
@media (min-width: $tablet-width) {
  .hotel__text {
    width: 440px;
    margin: 0 auto;
  }
}
//button
.hotel__button {
  width: 280px;
  height: 58px;

  background-color: $blue-color;

  border: none;

  color: $white-color;

  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;

  margin-bottom: 50px;
  margin-top: 40px;
}

@media (min-width: $tablet-width) {
  .hotel__button {
    width: 458px;

    margin-top: 54px;
  }
}
@media (min-width: $desktop-width) {
  .hotel__button {
    margin-top: 30px;

    width: 429px;
    height: 55px;
  }
}
