@import "../variables";

.main-nav {
  position: relative;
}


//logo of the site
.logo-image {
  display: block;
  position: absolute;
  top: 220px;
  left: 110px;
}

//burger menu
.menu-toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: none;
  outline: none;
}
.main-nav--closed .menu-toggle::before {
  content: "";
  position: absolute;
  top: 43px;
  right: 20px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.main-nav--closed .logo-image {
  top: 0;
} 
.main-nav--opened .menu-toggle::after {
  content: "";
  position: absolute;
  top: -180px;
  right: 19px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .logo-image {
    top: 0;
    left: 334px;
  }
}

@media (min-width: $desktop-width) {
  .logo-image {
    left: 505px;

    width: 188px;
    height: 90px;
  }
}