@import "../variables";


.modal {
  display: none;
  width: 320px;
  text-align: center;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.15);
}
.modal-show {
  display: block;
}
//text
.modal__text {
  font-size: 14px;
  color: $dark-color;
  line-height: 1.8;
  width: 250px;
  margin: 0 auto 30px;
  text-transform: uppercase;
}
.modal__mesage {
  font-size: 18px;
  color: $black-color;
  line-height: 1.4;
  text-transform: uppercase;

  width: 230px;

  margin: 0 auto 20px;
  padding-top: 50px;
}
.modal__text--failure {
  margin-bottom: 10px;
}
@media (min-width: $tablet-width) {
  .modal__text {
    width: 420px;
    margin-bottom: 19px;
  }
  .modal__mesage {
    font-size: 30px;
    margin-bottom: 40px;
    width: 380px;
  }
  .modal__text--failure {
    width: 340px;
  }
  .modal__mesage--failure {
    width: 280px;
  }
}
//size of modals
.modal--success {
  height: 323px;
}
.modal--failure {
  height: 283px;
}
@media (min-width: $tablet-width) {
  .modal--success {
    height: 347px;
    width: 640px;
  }
  .modal--failure {
    height: 347px;
    width: 400px;
  }
}

//color on success modal
.modal__color {
  width: 320px;
  height: 98px;
  background-color: $bg-color;
  margin: 0 auto;
}
@media (min-width: $tablet-width) {
  .modal__color {
    width: 640px;
    height: 146px;
  }
}

//buttons
.modal__button {
  border: none;
  background-color: $blue-color;

  font-size: 18px;
  line-height: 1.4;
  font-family:  PTSans, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: $white-color;
  font-weight: bold;

  margin: 20px auto 0;
}
.modal__button--success {
  width: 280px;
  height: 58px;
}
.modal__button--failure {
  width: 180px;
  height: 58px;
}

@media (min-width: $tablet-width) {
  .modal__button {
    margin-top: 40px;
  }
  .modal__button--failure {
    margin-top: 20px;
  }
}
