@import "../variables";

//name info
.name-list {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  align-items: center;
  margin-left: 20px;
}

.name-list__name {
  width: 232px;
}
.name-list__last-name {
  width: 193px;
}
.name-list__father-name {
  width: 194px;
}
@media (min-width: $tablet-width) {
  .name-list__name {
    width: 219px;
  }
  .name-list__last-name {
    width: 180px;
  }
  .name-list__father-name {
    width: 180px;
  }

}
@media (min-width: $desktop-width) { 
  .name-list {
    margin-top: 10px;
    width: 410px;
  }
  .name-list__name {
    width: 350px;
  }
  .name-list__last-name {
    width: 310px;
  }
  .name-list__father-name {
    width: 310px;
  }
}