@import "../variables";

.photo-list {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}
.photo-list__item {
  width: 280px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .photo-list {
    width: 648px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 75px;
  }
}
@media (min-width: $desktop-width) {
  .photo-list {
    width: 1200px;
    margin-top: 75px;
  }
}
//photo
.photo-list__photo {
  display: block;
  margin-top: 47px;
}
@media (min-width: $tablet-width) {
  .photo-list__item,
  .photo-list__photo {
    width: 324px;
    margin-top: 0;
  }
  .photo-list__photo {
    height: 267px;
  }
  .photo-list__item--main,
  .photo-list__photo--main {
    width: 648px;
  }
  .photo-list__photo--main {
    height: 400px;
  }
}
@media (min-width: $desktop-width) {
  .photo-list__item,
  .photo-list__photo {
    width: 400px;
  }
  // .photo-list__item {
  //   background-color: rgba(0, 0, 0, 0.3);
  // }
  .photo-list__item--main,
  .photo-list__photo--main {
    width: 1200px;
  }
  .photo-list__photo--main {
    height: 400px;
  }
}
//photo info
.photo-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.photo-list__title,
.photo-list__author,
.photo-list__likes {
  font-size: 14px;
  line-height: 1.7;
}
.photo-list__title,
.photo-list__likes {
  color: $black-color;
  font-weight: bold;
  text-transform: uppercase;
}
.photo-list__author {
  color: $dark-color;
  margin-top: 0;
}
.photo-list__title {
  margin-bottom: 0;
}
@media (min-width: $tablet-width) {
  .photo-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: $bg-color;
  }
  .photo-list__likes {
    margin-right: 20px;
  }
  .photo-info--person {
    margin-left: 20px;
  }
  .photo-info--white {
    background-color: #eaeaea;
  }
}
@media (min-width: $desktop-width) {
  .photo-info {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -80px;
    position: relative;
    z-index: 2;
  }
  .photo-list__title,
  .photo-list__author,
  .photo-list__likes {
    color: $white-color;
  }
}
//like icon
.photo-list__likes {
  position: relative;
  margin-left: 40px;
}
.photo-list__likes::before {
  content: "";

  position: absolute;
  top: 0;
  left: -40px;
  width: 23px;
  height: 21px;

  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-size: contain;

  opacity: 0.3;
}

//lines between photos
.photo-list__item::before {
  content: "";
  width: 320px;
  height: 1px;
  position: absolute;
  top: 10px;
  left: -20px;
  background-color: $bg-color;
}
.photo-list__likes--line::after {
  content: "";
  width: 320px;
  height: 1px;
  position: absolute;
  top: 40px;
  left: -50px;
  background-color: $bg-color;
}
@media (min-width: $tablet-width) {
  .photo-list__item::before,
  .photo-list__likes--line::after {
    content: none;
  }
}
@media (min-width: $desktop-width) {
  .photo-list__likes::before { 
    background-image: url("../img/icon-like-white.svg");
    opacity: 1;
  }
}
