@import "../variables";


.photo-mountains {
  min-height: 389px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  //svg text on the foreground
  text-align: center;
  padding-top: 80px;
}

@media (min-width: $tablet-width) {
  .photo-mountains {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}