@import "../variables";

.review {
  margin-top: 40px;
}

.review__header {
  font-size: 18px;
  line-height: 1.4;
  color: $black-color;
  width: 230px;
  margin: 0 auto;
  text-transform: uppercase;
}
.review__help {
  font-size: 14px;
  line-height: 1.7;
  color: $dark-color;
  width: 295px;
  margin: 40px auto 0;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: $tablet-width) {
  .review__header {
    font-size: 30px;
    line-height: 0.8;
    width: 360px;
  }
  .review__help {
    width: 470px;
  }
 
}