@import "../variables";

//radio buttons
.score-list {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 20px;
}
.score-list__item {
  width: 210px;
  margin-right: 0px;
  margin-bottom: 50px;
}
.score-list__radio {
  display: none;
}
.score-list__label {
  position: relative;
}
.score-list__label::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -80px;

  width: 60px;
  height: 55px;
  background-color: $bg-color;
  border-radius: 50%;
}
.score-list__radio:checked + .score-list__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -61px;

  width: 23px;
  height: 23px;
  background-color: $dark-color;
  border-radius: 50%;
  z-index: 2;
}
.score-list__label:hover::after {
  background-color: $disabled-color;
}
.score-list__label:active::after {
  background-color: #d5d5d5;
}
.score-list__radio:checked + .score-list__label:active::before {
  opacity: 0.3;
}
