@import "../variables";

.site-list {
  list-style: none;
  padding: 0;

  display: flex;
  // width: 320px;
  flex-direction: column;
  text-align: center;

  margin: 0 auto;
}

.site-list__item {
  padding: 7px 0;
  width: 100%;
  background-color: $blue-color;

  @include menu-border;
}

.site-list__link {
  display: inline-block;
  // width: 150px;

  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  line-height: 2.2;
}
//different states for links
.site-list__item:hover {
  background-color: $blue-color--hover;
}
.site-list__item:active {
  background-color: $blue-color--active;
}
.site-list__link:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    width: 768px;
  }
  .site-list__item {
    width: 153px;
    padding: 15px 0 20px;
    border: none;
    background-color: $white-color;
  }
  .site-list__item:nth-child(2) {
    margin-right: 153px;
  }
  .site-list__link {
    font-size: 14px;
    color: $black-color;
  }
  //different states for links
  .site-list__item:hover {
    background-color: $white-color;
  }
  .site-list__link:hover {
    color: $blue-color--hover;

  }
  .site-list__item:active {
    background-color: $white-color;
  }
  .site-list__link:active {
    color: $dark-color--active;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: $desktop-width;
    justify-content: space-around;
  }
  .site-list__item {
    padding-bottom: 16px;
  }
  .site-list__item:nth-child(2) {
    margin-right: 175px;
  }
}