@font-face {
  font-family: PTSans, sans-serif;
  src: url("../fonts/ptsans.woff2") format("woff2")б
  url("../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: PTSans, sans-serif;
  src: url("../fonts/ptsansbold.woff2") format("woff2")б
  url("../fonts/ptsansbold.woff") format("woff");
  font-style: bold;
  font-weight: bold;
}