$tablet-width: 768px;
$desktop-width: 1200px;
$min-dpi: 1.5dpi;
$min-dppx: 144dppx;
$blue-color: #81b3d2;
$blue-color--hover: #669ec0;
$blue-color--active: #5496bd;
$disabled-color: #e5e5e5;
$white-color: #ffffff;
$black-color: #000000;
$dark-color: #333333;
$dark-color--active: rgba(0, 0, 0, 0.3);
$menu-color: #766357;
$menu-color--hover: #604e43;
$menu-color--active: rgba(118, 99, 87, 0.3);
$mobile-width-only: 767px;



@mixin menu-border() {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}